In [1]:
import seaborn as sns
import pandas as pd 

tips = sns.load_dataset('tips')

In [2]:
print(tips)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [7]:
corr = tips[['total_bill','tip','size']].corr()

In [8]:
print(corr)

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [9]:
df = sns.load_dataset('titanic')

In [10]:
print(df)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class
0           0       3    male  22.0      1      0   7.2500        S   Third  \
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

In [11]:
df = df.dropna()

In [12]:
print(df)

     survived  pclass     sex   age  sibsp  parch     fare embarked  class
1           1       1  female  38.0      1      0  71.2833        C  First  \
3           1       1  female  35.0      1      0  53.1000        S  First
6           0       1    male  54.0      0      0  51.8625        S  First
10          1       3  female   4.0      1      1  16.7000        S  Third
11          1       1  female  58.0      0      0  26.5500        S  First
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
871         1       1  female  47.0      1      1  52.5542        S  First
872         0       1    male  33.0      0      0   5.0000        S  First
879         1       1  female  56.0      0      1  83.1583        C  First
887         1       1  female  19.0      0      0  30.0000        S  First
889         1       1    male  26.0      0      0  30.0000        C  First

       who  adult_male deck  embark_town alive  alone
1    woman       False    C    Cherbourg   yes  False
3    woman       False    C  Southampton   yes  False
6      man        True    E  Southampton    no   True
10   child       False    G  Southampton   yes  False
11   woman       False    C  Southampton   yes   True
..     ...         ...  ...          ...   ...    ...
871  woman       False    D  Southampton   yes  False
872    man        True    B  Southampton    no   True
879  woman       False    C    Cherbourg   yes  False
887  woman       False    B  Southampton   yes   True
889    man        True    C    Cherbourg   yes   True

[182 rows x 15 columns]

In [14]:
corr = df[['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare', 'adult_male', 'alone']].corr()

In [15]:
print(corr)

            survived    pclass       age     sibsp     parch      fare
survived    1.000000 -0.037698 -0.251045  0.101376  0.018739  0.130632  \
pclass     -0.037698  1.000000 -0.305708 -0.105262  0.046273 -0.316796
age        -0.251045 -0.305708  1.000000 -0.154160 -0.269757 -0.090730
sibsp       0.101376 -0.105262 -0.154160  1.000000  0.253478  0.284841
parch       0.018739  0.046273 -0.269757  0.253478  1.000000  0.388540
fare        0.130632 -0.316796 -0.090730  0.284841  0.388540  1.000000
adult_male -0.582727 -0.122403  0.338384 -0.147610 -0.183689 -0.114147
alone      -0.111827  0.064678  0.203460 -0.628796 -0.549197 -0.298233

            adult_male     alone
survived     -0.582727 -0.111827
pclass       -0.122403  0.064678
age           0.338384  0.203460
sibsp        -0.147610 -0.628796
parch        -0.183689 -0.549197
fare         -0.114147 -0.298233
adult_male    1.000000  0.193695
alone         0.193695  1.000000

In [18]:
import numpy as np

numeric_cols = df.select_dtypes(include=np.number).columns
corr_matrix = df[numeric_cols].corr()
print(corr_matrix)

          survived    pclass       age     sibsp     parch      fare
survived  1.000000 -0.037698 -0.251045  0.101376  0.018739  0.130632
pclass   -0.037698  1.000000 -0.305708 -0.105262  0.046273 -0.316796
age      -0.251045 -0.305708  1.000000 -0.154160 -0.269757 -0.090730
sibsp     0.101376 -0.105262 -0.154160  1.000000  0.253478  0.284841
parch     0.018739  0.046273 -0.269757  0.253478  1.000000  0.388540
fare      0.130632 -0.316796 -0.090730  0.284841  0.388540  1.000000